# LLM
LLM_BASE_URL=https://api.polza.ai/api/v1
LLM_API_KEY=pza_jMBRqPvRDKvN9kOdlNNJy39AP3eaAn7x
LLM_MODEL=gpt-4o-mini

# Yclients
YCLIENTS_TOKEN=...
YCLIENTS_COMPANY_ID=...
YCLIENTS_STAFF_ID=...

# Chatwoot
CHATWOOT_BASE_URL=http://localhost:3000
CHATWOOT_API_TOKEN=...
CHATWOOT_ACCOUNT_ID=...

# App
TENANT=coworking
PORT=8000
